*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    padding: 15px 0;
}
img{
    max-width: 100%;
}
.header{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.header-sec{
    width: 50%;
    padding-left: 5%;
}
.header-sec p{
    padding-bottom: 20px;
    font-size: 18px;
    color: dimgray;
    padding-top: 2%;
}
.header-sec a{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.orange-color{
    color: orange;
}
.header-sec img {
    width: 70%;
}



.container{
    display: flex;
    margin-top: 10%;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.container-sec{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.container-sec img{
    width: 80%;
}
.container-sec p{
    padding-bottom: 20px;
    font-size: 18px;
    color: dimgray;
    padding-top: 2%;
}
.container-sec a{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}



.container-bottom{
    margin-top: 10%;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.container-bottom h1{
    font-size: 35px;
}
.containerBtm{
    display: flex;
}
.container-left{
    width: 42%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 30%;
}
.container-left h1{
    font-size: 35px;
}
.container-left h2{
    color: orange;
    padding-bottom: 15px;
    font-size: 20px;
}
.container-left p{
    font-size: 18px;
    color: dimgray;
}
.container-right{
    width: 42%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 30%;
}
.container-right h1{
    font-size: 35px;
}
.container-right h2{
    color: orange;
    padding-bottom: 15px;
    font-size: 20px;
}
.container-right p{
    font-size: 18px;
    color: dimgray;
}
footer p{
    font-size: 18px;
    color: dimgray;
    text-align: center;
    margin-top: 5%;
}